<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mobile_manipulator" >

<xacro:include filename="$(find robot_description)/urdf/robot_base.urdf.xacro" />
<xacro:include filename="$(find robot_description)/urdf/robot_arm.urdf.xacro" />

<xacro:arm_joint prefix="mobile" parent="base_link" child="world" originxyz="0.0 0.0 0.1" originrpy="0 0 0"/>

</robot>
